<div class="row-fluid neighbourhoods centered-text top-spaced">
	<div class="content span12">
		
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/neighbourhoods/tacubaya_front.jpg') %>
				<div class="details">
					<p class="title-light">Recorrido Aventurero</p>
					<p class="extras"><a href=""><i class="icon icon-map-marker"></i> 8</a> sitios desconocidos</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">10</span><span class="text">para usar</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">20</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<% if 1==2 %>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/neighbourhoods/zocalo_front.jpg') %>
				<div class="details">
					<p class="title-light">Recorrido por el Centro</p>
					<p class="extras"><a href=""><i class="icon icon-map-marker"></i> 10</a> joyas de la ciudad</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">15</span><span class="text">para usar</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">30</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<% end %>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/neighbourhoods/condesa_front.jpg') %>
				<div class="details">
					<p class="title-light">Recorrido Hipster</p>
					<p class="extras"><a href=""><i class="icon icon-map-marker"></i> 14</a> puntos buena onda</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">10</span><span class="text">para usar</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">30</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
	</div>
</div>