<div class="items-list listing-view">
	<div class="listing-actions">
		<%= link_to '<i class="icon-chevron-left"></i>  Regresar'.html_safe, trips_path.concat('#/'), :id => 'back-to-listing' %>
	</div>
	<% trips.each do |trip| %>
		<%= render :partial => 'trips/trip', :locals => {:trip => trip} %>
	<% end %>
</div>
