<% content_for :panel do %>	
	<div id="section" class="panel" data-url="<%= discover_trips_path %>">
		<div class="inner-panel inner-panel-small">
			<div class="row-fluid actions-bar"><%= render :partial => 'discover/menu', :locals => {:selected_city => @city} %></div>
		</div>
		
		<div class="inner-panel inner-panel-big">
			<div class="content listing">
				<%= render :partial => 'trips/listing', :locals => { :trips => @trips } %>
			</div>
			
		</div>
	</div>
<% end %>