<div class="performance">
	<div class="distance">
		<p class="value"><%= distance %><span class="unit">Km</span></p>
		<p class="text"><%= t('app.profiles.performance.distance') %></p>
	</div>
	<div class="speed">
		<p class="value"><%= speed %><span class="unit">Km/h</span></p>
		<p class="text"><%= t('app.profiles.performance.speed') %></p>
	</div>
</div>
