<div class="control-group">
	<div id="incident_description_min" class="alert alert-error error">
		<%= t('incidents.views.new.form.validations.description') %>
	</div>
	<%= f.label :description, t('incidents.views.new.form.description'), :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :description, :rows => 2, :class => "span5" %>
		<div id="incident_description_count" class="field-counter"></div>
	</div>
</div>