<div class="control-group">
	<div id="incident_vehicle_identifier_regexp" class="alert alert-error error">
		<%= t('incidents.views.new.form.validations.vehicle_identifier') %>
	</div>
	<%= f.label :vehicle_identifier, Incident.human_attribute_name(:vehicle_identifier), :class => 'control-label' %>
	
	<div class="controls">
		<%= f.text_field :vehicle_identifier, :size => 30 %>
	</div>
</div>