<div class="control-group">
	<%= f.label :fixed, Incident.human_attribute_name(:fixed), :class => 'control-label' %>
	
	<div class="controls">
		<%= f.check_box :fixed, :checked => incident.fixed || false %>
	</div>
</div>