<div id="notification" class="centered-text">
	<% if flash[:notice] %>
		<div class="notice rounded-5"><%= flash[:notice] %><button class="close" data-dismiss="alert" type="button">×</button></div>
	<% end %>

	<% if flash[:alert] %>
		<div class="failure rounded-5"><%= flash[:alert] %><button class="close" data-dismiss="alert" type="button">×</button></div>
	<% end %>
</div>