<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %><button class="close" data-dismiss="alert" type="button">×</button></div>	
<% end %>

<% if flash[:alert] %>
	<div class="alert alert-error"><%= flash[:alert] %><button class="close" data-dismiss="alert" type="button">×</button></div>	
<% end %>