<%= render 'maps/shared/city_not_set_alert' %>

<h3 class="centered-text">Mapa de tu ciudad</h3>
<div class="separator"></div>
<div>	
	<%= navbar_map_for %>
	<div id="stats-container">
		<%= render :partial => 'maps/incidents/stats', :locals => {:hashed_count => @incidents_count} %>
	</div>
</div>

<div id="map" class="show-only edit map-dimensions map-big shadow-light rounded-5"></div>
<br>
<div class="content-fluid">
	<div id="listing-contents" class="listing-view" data-suburl="incidents">
		<%= render :partial => 'profiles/incidents/incident', :collection => @incidents, :locals => {:show_actions => false} %>
	</div>
</div>