.mid-sheet {
	.styled-form {
		background-color: white;
		
		h1 {
			margin-bottom: 50px;
		}
	}
	
	.alert-zone, .styled-form, .menu {
		width: 600px;
	}
}

.with-aligned-inputs {
	font-size: 12px;
	margin-top: 60px;
	
	div {
		input, label {
			font-size: 13px;
			display: inline-block;
		}
		
		label {
			width: 280px;
			padding: 2px;
		}
	}

	.group {
		margin-top: 10px;
		
		padding: 10px;
		
		div {
			
			input {
				margin-right: 10px;
			}
			
			color: #424242;
			font-weight: bold;
			margin-left: 20px;
		}
	}
	
	.field_with_errors {
		display: inline-block !important;
	}
}

.alert-zone {
	padding: 20px;
	background-color: #F0CABF;
	
	p {
		color: #9C3F43;
		padding: 0px;
		margin: 0px;
		font-weight: bold;
		display: inline-block;
		vertical-align: -5px;
	}
}

.small-sheet {
	.styled-form {
		width: 350px;
		background-color: white;
	}
}

.styled-form {
	margin: 0 auto 0 auto;
	padding: 20px;
	font-size: 12px;
	
	h1 {
		color:#2C9941;
		text-align: right;
		border-bottom: 2px solid #F2F2F2;
		margin-bottom: 30px;
	}
	
	input:active, textarea:active, textarea:hover {
		border: 2px solid #D0D0D0;
		color: #878787;
	}
	
	label {
		font-weight: bold;
		color:#6D6D6D;
		margin-top: 5px;
		margin-right: 10px;
	}
	
	.field {
		padding: 8px;
	}
	
	.with-label {
		padding: 10px;
		display: inline-block;
	}
	
	.prefix {
		margin-right: 10px !important;
	}
	
	.postfix {
		margin-left: 10px !important;
	}
	
	.postfix-min {
		margin-left: 5px !important;
	}
	
	.postfix, .prefix {
		font-weight: bold;
		display: inline-block;
		color: #6A6A6A;
	}
	
	.note-message {
		margin-top: 30px;
	}
	
	.note-message, .field-counter {
		font-size: 14px;
		font-style: italic;
		color:#326A28;
	}
	
	.field-counter {
		text-align: right;
		padding: 10px;
	}
}

.field_with_errors label {
	color: #99474C;
}

.field_with_errors textarea:hover,
.field_with_errors input:hover {
	border: 2px solid #99212C !important;
}

.field_with_errors textarea,
.field_with_errors input {
	border: 2px solid #996063 !important;
}

#error_explanation {
	background-color: #FFEBE5;
	padding-bottom: 10px;
	padding-top: 5px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#error_explanation h2 {
	padding: 10px;
	font-size: 13px;
	text-align: center;
	color:#994243;
}

#error_explanation ul li {
	display: block !important;
	font-size: 12px;
	color: #454545;
}

.required-login {	
	a {
		color: #404F80 !important;
		font-weight: bold;
	}
	text-align: center;
	font-size: 12px;
}

.error {
	display: none;
}