@font-face{
font-family: "gothamrndbook-Book";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbook.ttf");
}

@font-face{
font-family: "gothamrndbold-Bold";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbold.ttf");
}

.invite {
	padding: 50px 10px 0px 10px;
	text-align: center;
	border: 1px solid #FFCAB1;
	margin-bottom: 30px;
	
	p.title {
		color: #1F3C51;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 20px;
	}
}



.dropdown-menu {
	li {
		display: block;
	}
}

.nav-pills {
	li { margin-right: 5px; }
}

body, html {
	font-family: "gothamrndbook-Book";
	
	height: 100%;
	width: 100%;
	background: #f2f7fb !important; /* Old browsers */
}

h3 {
	font-weight: normal !important;
	padding:0 !important;
	margin:0 !important;
}

ul {
	margin: 0;
	padding: 0;
}

.background-logo {
	pointer-events:none;
	position: fixed;
	top: 150px;
	width: 250px;
	height: 583px;
	left: 0px;
	background: url('/assets/menu_logo.png');
}

.top-spaced {
	margin-top: 30px;
}

.top-spaced-70 {
	margin-top: 70px;
}

.top-spaced-90 {
	margin-top: 90px;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.centered {
	margin-left: auto !important;
	margin-right: auto !important;
}

.centered-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

a.personal {
	color: #F29721 !important;
}

.field-counter {
	margin-top: 5px;
	font-size: 13px;
	color: #D95100;
}

#noticing {
	width: 100%;
	color: white;
	margin-bottom: 10px;
	
	.notice, .failure {
		padding: 8px;
		border-radius: 5px;
	}
		
	.notice { background-color: #B1E0A9 }
	
	.failure { background-color: #E57C7F }
	
	p.top-message {
		font-weight: bold;
		margin-top: 2px;
		font-size: 13px;
		text-align: center;
	}

}

.spinner {
	margin-right: 10px;
	display: none;
}

.centered {
        margin-left: auto !important;
        margin-right: auto !important;
}

.centered-text {
        text-align: center;
}

.right-text {
        text-align: right;
}

a.personal {
        color: #F29721 !important;
}

.green-beam { color:#32A328 }
.grey-beam { color:#929292 }
.white-beam { color:white }

.field-counter {
        margin-top: 5px;
        font-size: 13px;
        color: #D95100;
}

.rounded-5 {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

.rounded-10 {
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

.mini-user-pic {
   border-radius: 20px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-box-shadow: 0 0 2px #A5A5A5;
   -webkit-box-shadow: 0 0 2px #A5A5A5;
   box-shadow: 0 0 2px #A5A5A5;
	border: 1px solid #A6BDFD;
}


.ml-20 {
        margin-left: 40px;
}

.mb-10 {
        margin-bottom: 10px;
}

.rounded-bottom-5 {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
}

.rounded-top-5 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        -moz-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
}

a {
        text-decoration: none;
}

a.back:hover {
        text-decoration: underline !important;
        color: #537DB6;
}

a.back {
        font-size: 14px;
}

.shadow-light {
        -moz-box-shadow: 0 0 2px #A5A5A5;
        -webkit-box-shadow: 0 0 2px #A5A5A5;
        box-shadow: 0 0 2px #A5A5A5;
}

.shadow-lighter {
        -moz-box-shadow: 0 0 8px #9E9E9E;
        -webkit-box-shadow: 0 0 8px #9E9E9E;
        box-shadow: 0 0 8px #9E9E9E;
}

.shadow-strong {
        -moz-box-shadow: 0 0 10px #1A1A1A;
        -webkit-box-shadow: 0 0 10px #1A1A1A;
        box-shadow: 0 0 10px #1A1A1A;
}

.to-right {
        float: right;
}

.to-left {
        float: left;
}

.inlined {
        display: inline-block !important;
}

.separator {
	height: 1px;
	background-color: #E7EEF3;
	margin: 0px 7px 0px 7px !important;
}

.spacer {
        height: 8px;
}

#container {
        width: 920px;
        padding-top: 50px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        clear: both;
}

.mini-header h1 .type, #newitem h1 .type {
        font-size: 15px;
        margin-left: 8px;
        vertical-align: 2px;
        color: #EEE;
        background-color:#A6A6A6;
        padding: 0px 5px;
}

ul.inlined-list li, ul.inlined-list li * { display: inline-block; }

.highest {
        background-color: #797979 !important;
        color: white;
        font-weight: bold;
        opacity: 1 !important;
}

.simplePagerContainer ul{ display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.simplePagerContainer ul li{ display:inline; }
.simplePagerContainer ul li a{ float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0; color: #45793B; background-color: white; }
.simplePagerContainer ul li a:hover, li.currentPage a {background-color:#ECECEC !important;}
.simplePagerContainer ul li.currentPage a{color:#999999;cursor:default;}
.simplePagerContainer ul li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.simplePagerContainer ul li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}

p.empty {
        margin-top: 10%;
        font-style: italic;
        font-size: 18px;
        text-align: center;
}

.loading {
        width: 180px;
        margin-top: 20px;
        font-style: normal;
        text-align: center;
        border: none !important;
        display: none;
        
        .spinner {
                height: 30px;
                width: 30px;
                margin-left: 4px;
                background: url(/assets/spinner.gif);
        }
        
        p {
                padding-top: 13px !important;
                font-size: 13px;
                font-weight: bold;
                vertical-align: 10px;
                color: #2B3B63;
        }
}

.login-link {
        color: #FF5800 !important;
}




// Ordered styles

.board-login {
        margin-top: 0px !important;
}

.board {
        margin-top: 50px;
        background-color: #FFF;
        padding-top: 20px;
        border: 0.2px solid #8EC4FF;    
}

.subsection {
        background-color: white;
        padding: 10px;
        color: #FF4B02;
        font-weight: 200;
        border: 1px solid #FFC088;
        * {
                display: inline-block;
        }
}


// Colors

.red {
        color: #ca1e2f;
}

.green {
        color: #008a13;
}

// Circular pictures

.circle {
  -moz-box-shadow: 0 0 2px #A7BDFF;
  -webkit-box-shadow: 0 0 2px #A7BDFF;
  box-shadow: 0 0 2px #A7BDFF;
}

.circle-30 {
	width: 30px !important;
  height: 30px !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.circle-60 {
  width: 60px !important;
  height: 60px !important;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.circle-80 {
  width: 80px !important;
  height: 80px !important;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.glossy {
	font-size: 14px;
	background-color: rgba(255,255,255,0.8);
	padding: 6px 12px;
	border-radius: 4px;
	a {
		text-decoration: none;
		font-size: 12px;
	}
}

.side-by-side {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
	display: inline-block;
	
	.left-side-small, .right-side-small {
		width: 25%;
	}
	
	.left-side-big, .right-side-big {
		width: 73%;
	}
	
	.left-side, .right-side {
		width: 49%;
	}
	
	.left-side, .right-side, .left-side-small, .right-side-small, .left-side-big, .right-side-big {
		display: inline-block;
		margin: 0px !important;
		padding: 0px !important;
		vertical-align: middle;
	}
	
	.right-side {
		text-align: right;
	}
	
	.left-side {
		text-align: left;
	}
}
