<% unless flash[:notice].nil? %>
	<div class="alert alert-success alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong><%= t('flash.success.title') %></strong> <%= flash[:notice] %>
	</div>
<% end %>

<% unless flash[:alert].nil? %>
	<div class="alert alert-danger alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong><%= t('flash.alert.title') %></strong> <%= flash[:alert] %>
	</div>
<% end %>

