<div>
	<div style="width: 230px; display:inline-block"><%= link_to image_tag('wikicleta-logo.png'), "http://www.wikicleta.com" %></div>
	<div style="padding: 20px; display:inline-block; vertical-align: middle">
		<span style="font-size: 15px; display: block;  color: #1f3a50">Alejandro Eduardo Cruz Paz</span>
		<span style="font-size: 15px; padding: 0px;  color: #fb4e15; display: block;"><b>CEO/CTO at Wikicleta</b></span>
		<span style="font-size: 13px; display: block; margin-top:5px; color: #1f3a50">alex@wikicleta.com <b>+52 044 5559571816</b></span>
		
		<span><%= link_to image_tag('social_tweet.png', :size => '30x30', :style => "margin-top: 10px"), "http://www.twitter.com/wikicleta" %></span>
		<span><%= link_to image_tag('social_fb.png', :size => '30x30', :style => "margin-top: 10px"), "https://www.facebook.com/Wikicleta.Sugerencias" %></span>
	</div>
</div>