<table class="table table-condensed">
	<thead>
		<tr>
			<th>Red Social</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% Authorization.supported.each do |auth| %>
			<tr>
				<td><%= auth.capitalize %></td>
				<td><%= @user.authorization_from(auth) ? 'Activo' : link_to(t('user_accounts.settings.authorizations.new'), user_omniauth_authorize_path(auth)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>