<div class="head bike_sharing_yellow-head">
	<%= image_tag('bike_sharing_yellow-icon.png', :size => '100x100') %>
</div>
<div class="head bike_sharing_green-head">
	<%= image_tag('bike_sharing_green-icon.png', :size => '100x100') %>
</div>
<div class="head bike_sharing_red-head">
	<%= image_tag('bike_sharing_red-icon.png', :size => '100x100') %>
</div>