<% content_for :panel do %>	
	<div id="cycling-groups-section" class="panel" data-url="<%= discover_cycling_groups_path %>">
		<div class="inner-panel inner-panel-small">
			<div class="row-fluid"><%= render :partial => 'discover/menu' %></div>
		</div>
		<div class="inner-panel inner-panel-big">	
			<ul class="content listing">
				<%= render :partial => 'cycling_groups/listing', :locals => { :cycling_groups => @cycling_groups } %>
	    </ul>
		</div>
	</div>
<% end %>