<div class="actions">
	<div class="row-fluid idea">
		<h2>¿Te pasó algo?</h2>
		<h4>Reportalo y recibe ayuda de la comunidad</h4>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<ul class="nav nav-pills filtering-enabled">
	    	<li>
					<a href="javascript:void(0);" class="turn-off-filtering">
						<i class="icon-resize-full"></i>  Mostrar todos
					</a>
		    </li>
	    </ul>
		</div>
		<div class="span3">
			<div class="pull-right">
				<%= link_to "Buscar", '#/search', :class => "btn" %>
				<%= render 'maps/layers/incidents/report_button' %>
			</div>
		</div>
	</div>
</div>