<div class="dropdown pull-right">	
	<a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">Reportar</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li><%= link_to 'Accidente', new_maps_layers_incident_path.concat('#/accident') %></li>
		<li><%= link_to 'Robo de bici', new_maps_layers_incident_path.concat('#/theft') %></li>
		<li><%= link_to 'Asalto', new_maps_layers_incident_path.concat('#/assault') %></li>
		<li><%= link_to 'Averia', new_maps_layers_incident_path.concat('#/breakdown') %></li>
  </ul>
</div>