<div id="picture-manager-modal" class="reveal-modal">
	<a class="close-reveal-modal">&#215;</a>
	<h2><%= t("pictures.manager.title") %></h2>
	<div id="menu"></div>
	<div class="clear"></div>
	<div class="separator"></div>

	<div id="container"></div>
	
	<div id="origin" class="hidden">
		<%= render 'pictures/sections' %>
		<%= render 'pictures/uploads' %>
		<%= render :partial => 'pictures/uploaded', :locals => {:pictures => bike.pictures} %>
	</div>
</div>