<div class="sections row-fluid">
	<ul class="nav nav-pills pull-right">
		<li class="upload-new"><%= link_to t('pictures.manager.sections.uploads'), '#/pictures/uploads' %></li>
		<li class="uploaded-list"><%= link_to t('pictures.manager.sections.uploaded'), '#/pictures/uploaded' %></li>
  </ul>
</div>