<div class="head venue_provided_parking-head">
	<%= image_tag('venue_provided_parking-icon.png', :size => '100x100') %>
</div>
<div class="head urban_mobiliary_parking-head">
	<%= image_tag('urban_mobiliary_parking-icon.png', :size => '100x100') %>
</div>
<div class="head government_provided_parking-head">
	<%= image_tag('government_provided_parking-icon.png', :size => '100x100') %>
</div>