<% content_for :panel do %>	
	<div class="top-spaced"></div>
	<div class="panel routes">
		<div class="inner-panel inner-panel-big">
			<%= render :partial => 'routes/route', :locals => { :route => @route, :mode => :edit } %>
		</div>
		<div class="row-fluid actions">
			<a href="<%= routes_path %>"><%= t('actions.back_arrow').html_safe %></a>
		</div>
	</div>

<% end %>