/*
 *= require_self
 *= require application.css
*/

body, html {
	font-size: 15px;
}

#notifications {
	display: none !important;
}

/* Welcome page styles */

.welcome { 
	margin-top: 180px
	p, h1 {
		text-align: center;
		margin: 0px;
	}
	p {
		color: #0C8D0C;
		font-style: italic;
		font-size: 30px;
	}
	h1 {
		color: #757575;
		font-size: 80px;
	}
}

.routes {
	text-align: center;
	width: 700px;
	margin: 100px auto 0 auto;
}

 a.section:hover {
	color: #619B54 !important;
}

 a.section {
	font-weight: bold;
	width: 150px;
	background-color:rgba(0,0,0,0.7);
	border: 1px solid white;
	padding: 10px 20px;
	color: #C1FFBC !important;
	text-align: center;
	font-size: 19px;
}

.board:hover {
	background-color:rgba(35,153,40,0.7);
	color: white;
}

.connects {
	margin: 30px auto 0 auto;
	width: 150px;
}