@import "colors.css.scss";

html, body {
    height:100%;
}

.cycle-paths {
	
	.nav {
		margin: 5px 0 0 0;
	}
	
	.panel {
		background-color: white;
		width: 500px;
		padding-top: 20px !important;
		margin: 50px auto 0px auto;
		text-align: center;
		
	}
	
	.togglers {
		margin-left: 10px;
	}
	
	.form-container {
		margin: 20px;
	}
	
	.section-title {
		text-align: center;
		color: $wikicleta_blue;
	}
}
