@import "colors.css.scss";

.cycling-groups {
	
	.panel {
		background-color: white;
		width: 500px;
		padding-top: 20px !important;
		margin: 50px auto 0px auto;
		text-align: center;
	
		.nav {
			margin: 5px 0 0 0;
		}
	}
}