// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require maps
 *= require bootstrap-fileupload.min
**/

$wikicleta_orange: #fb4e15;
$wikicleta_blue: #1f3a50;
$wikicleta_light_blue: #DFEEF6;

html, body {
    height:100%;
}

#content
{
    width: 50%;
    position: absolute;
    z-index: 1;
    top:0;
    left:0 !important;
		pointer-events: none;
		
	.panel {
		pointer-events: auto;
		background-color: rgba(255,255,255,0.5);
		-moz-box-shadow: 0 0 1px #ADBBC5;
		-webkit-box-shadow: 0 0 1px #ADBBC5;
		box-shadow: 0 0 1px #ADBBC5;
		padding: 10px;
		border-radius: 0px 0px 5px 0px;
		margin-bottom: 30px;
		
		.inner-panel-big {
			margin-top: 10px;
		}
		
		.inner-panel-small {
			margin-top: 40px;
			min-height: 40px;
		}
		
		.inner-panel {
			border: 1px solid #CED7E8 !important;
			border-radius: 5px;
			background-color: white;
			
			.with-focus {
				border: none !important;
			}
			
			.empty-listing {
				margin-left: 100px;
				
				.suggest {
					margin-top: 40px;
					font-size: 20px;
					color: $wikicleta_orange;
					margin-bottom: 40px;
					
					.blue {
						color: $wikicleta_blue;
					}
				}
			}
			
			.listing-actions {
				display: none;
				padding: 20px 10px 10px 0px !important;
				text-align: right !important;
				a {
					color: $wikicleta_orange;
					text-decoration: none;
				}
				
				a.btn {
					color: white !important;
					margin-left: 20px;
				}
			}
			
			.activities {
				padding-top: 20px;
				
				.results {
					margin-right: 18px;
					text-align: right;
					color: #9DA2B5;
					margin-bottom: 15px;
				}

				
				.items {
					ul.sub-actions {
						list-style: none;
						li {
							display: inline-block;
							margin-right: 10px;
							padding-bottom: 0px !important;
							margin-bottom: 0px !important;
						}
						
						
						.activity {
							padding-right: 10px;

							p {
								text-align: right;
								font-size: 13px;
								margin:0px;
								margin-bottom: 5px;
								color: #BCBCBC;
								
							}


							.numeric {
								font-weight: bold;
								font-size: 30px;
								color: #BCBCBC;
							}
						}
						
						li.active a {
							.numeric {
								color: $wikicleta_orange !important;
							}
							
							.kind {
								color: $wikicleta_blue;
							}
						}
					}

					
					a:hover {
						text-decoration: none;
						color: $wikicleta_orange !important;
					}
					display: inline-block;
				}
			}

			.content {
				padding: 0px 0px 10px 0px !important;
			}
			
			.actions-bar {
				padding: 6px 8px 8px 8px;
				
				.call-to-act {
					display: inline-block;
					padding-top: 4px;
					font-size: 15px;
					color: $wikicleta_orange;
					margin-right: 10px;
					margin-left: 10px;
				}
			}
			
			.spinner {
				margin-right: 10px;
				display: none;
			}
		}
		

	}
}

#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#map
{
    width: 100%;
    height: 100%;
}

.btn {
	a {
		color: white;
	}
}

.rounded {
	border:1px solid white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.section {
	margin-bottom: 20px;
	h3 {
		color: #1064C2;
		
		.extra {
			font-size: 12px;
			color: $wikicleta_orange;
			text-transform: uppercase;
		}
	}
}

.cycling-group, .trip {
	.share-media {
		text-align: right;
		height: 20px !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -moz-opacity: 0;
	  -khtml-opacity: 0;
	  opacity: 0;
	}
	
}

.cycling-group:hover {
	background-color: rgba(32,59,80,0.1);
}

.cycling-group {
	font-family: 'Gotham Rounded';
	padding: 15px 10px 15px 0px;
	border-top: 1px solid rgba(32,59,80,0.1);
	
	p {
		padding: 0px;
		margin: 0px;
	}
	
	.logo {
		margin-left: 20px;
		margin-top: 10px;
		width: 150px !important;
		height: 150px !important;
	}
	
	.logo-container {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.details {
		text-align: right;
		padding: 10px;
		padding-bottom: 0px;
		.name {
			font-size: 20px;
		}
		
		.days-to-event {
			font-size: 13px;
		}
		
		.info {
			font-size: 10px;
			font-weight: 300;
		}
		
		.timings {
			font-size: 10px;
			list-style: none;
			margin-bottom: 15px;
			li {
				display: inline-block;
				margin-left: 20px;
			}
			
			
			.verb {
				color: $wikicleta_orange;
			}
		}
	}
	
	.contact {
		text-align: right;
		font-size: 13px;
		padding: 5px;
		margin-bottom: 10px;
		list-style: none;
		li {
			display: inline-block;
		}
		.icon {
			margin-right: 5px;
			margin-left: 20px;
		}
	}
	
	.separator {
		height: 1px !important;
		background-color: $wikicleta_light_blue;
	}
}

.items-list {
	margin-top: 40px !important;
	
	.trip:hover {
		background-color: rgba(32,59,80,0.1);
	}
	
	.trip {
		.closer {
			width: 100px;
			height: 100px;
			background-color: black;
			position: fixed;
			left: 830px;
			top: 180px;
		}
		
		border-top: 1px solid rgba(32,59,80,0.1);
		
		padding: 10px 20px 10px 0px;
		margin: 0px 0px 0px 0px;
		
		.details {
			padding: 10px 10px 3px 10px;
			text-align: right;
			margin-left: 60px;
			.event-name, .days-to-event {
				a {
					color: $wikicleta_blue;
					text-decoration: none;
					font-weight: 400;
				}
				color: $wikicleta_blue;

				font-weight: 100;
				margin: 0px !important;
				padding: 0px !important;
				font-family: 'Gotham Rounded';
			}

			.event-name {
				font-size: 20px;
			}

			.days-to-event {
				font-size: 11px;
			}

			.event-timings {
				font-size: 10px;
				color: $wikicleta_orange;

				margin-bottom: 30px !important;
			}
		}
		
		.extras {
			display: none;
			
			.categories-menu {
				margin-top: 20px;
				margin-bottom: 0px;
				text-align: right;
				
				ul {
					list-style-type: none !important;
					margin-left: auto;
					margin-right: auto;

					li.enabled:hover, li.active {
						background-color: #E6E6E6;
					}

					li {
						padding: 5px 10px 5px 10px;
						display: inline-block !important;
						margin-right: 10px;
						margin-left: 10px;
						font-size: 11px;

						a {
							text-decoration: none;
							color: $wikicleta_blue;
						}
					}
				}
		}

	}
	
}


.dropdown-menu {
	li {
		width: 100%;
	}
}

.trip-detailed {
	
	.title {
		font-size: 10px;
		text-transform: uppercase;
		color: $wikicleta_orange;
		margin-top: 10px;
	}
	
	.details {
		font-size: 12px;
		color: $wikicleta_blue;
	}
	
	p, ul {
		font-size: 12px;
		padding: 0;
		margin: 0;
	}
	
	.name {
		font-size: 30px;
		color: $wikicleta_orange;
	}
	
	.city {
		margin-left: 10px;
		font-size: 15px;
		color: $wikicleta_blue;
		text-transform: uppercase;
	}
	
	.periodicity {
		margin-left: 30px;
		color: $wikicleta_orange;
	}
	}
	
}

#cycling_groups-form {
	padding-left: 30px;
	padding-right: 20px;
}