/*
 *= require_self
 *= require bootstrap_and_overrides
*/

$wikicleta_orange: #fb4e15;
$wikicleta_blue: #1f3a50;
$wikicleta_light_blue: #DAE8F1;

@font-face{
font-family: "gothamrndbook-Book";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbook.ttf");
}

@font-face{
font-family: "gothamrndbold-Bold";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbold.ttf");
}

html, body { 
  background: url('/assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: "gothamrndbook-Book" !important;
}

.title {
	color: $wikicleta_orange;
	font-size: 28px;
	margin-top: 15px;
}

.content {
	color: $wikicleta_blue;
	font-size: 15px;
}

.all-centered {
	text-align: center;
}

.contact-form {
	submit {
		margin-top: 8px;
	}
}

.founding {
	background: url('/assets/fondeo.png');
	width: 300px;
	height: 300px;
	position: fixed;
	top: 0px;
	right: 0px;
}

.top-bar {
	ul {
		li {
			display: inline-block;
			list-style: none;
			padding: 10px;
			a {
				text-decoration: none;
				color: $wikicleta_blue;
			}
		}
	}
}

.bottom-bar {
	left: 0px;
	bottom: 50px;
	width: 100%;
	position: fixed;
}

a.iphone {
	text-decoration: none !important;
}

.logo {
	background: url('/assets/wikicleta-logo.png');
	width: 300px;
	height: 300px;
	left: 50%;
	margin-right: 100px;
	position: fixed;
}

.email-dialog {
	.title {
		font-size: 20px;
	}
}