

@import "colors.css.scss";

@font-face{
font-family: "gothamrndbook-Book";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbook.ttf");
}

@font-face{
font-family: "gothamrndbold-Bold";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbold.ttf");
}

.landing {

	.btn-action-container {
		margin-top: 50px;
	}
	
	.right-positioned {
		position: absolute;
		right: 60px;
		top: 100px;
		opacity: 1;
		a {
			opacity: 0.5 !important;
		}
		
		a:hover {
			opacity: 1 !important;
		}
	}
	
	.top-left-positioned {
		position: absolute;
		top: 30px;
		left: 15%;
		opacity: 0.3;
	}
	
	.bottom-positioned {
		position: absolute;
		top: 55%;
		right: 30px;
		opacity: 0.3;
	}
	
	.title {
		font-size: 40px !important;
		color: $wikicleta_orange;
		text-transform: none !important;
	}
	
	.subtitle {
		font-size: 25px !important;
		color: $wikicleta_blue;
		margin-top: 50px !important;
	}
	
	.slogan {
		margin-top: 50px;
		font-size: 30px;
		color: $wikicleta_orange;
	}
	
	.minor {
		margin-top: 60px;
		font-size: 30px;
		color: $wikicleta_blue;
		line-height: 35px;
	}
	
	.action-box-2, .action-box {
		ul {
			list-style: none;
			margin: 0;
			
			li {
				display: inline-block;
				margin-right: 10px;
				margin-left: 10px;
				text-align: center;
				
				a {
					color: $wikicleta_blue;
					font-size: 18px;
				}
				
				a:hover {
					color: $wikicleta_orange;
				}
			}
		}
	}
	
	.action {
		padding: 20px;
		background-color: rgba(255,255,255,0.7);
		border: 1px solid white;
		margin: 30px auto 0 auto;
		text-align: center;
		font-weight: bold;
		width: 200px;
		font-size: 25px;
		
		a {
			color: $wikicleta_orange;
		}
	}
	
	.action:hover {
		background-color: rgba(255,255,255,1);
		border: 1px solid $wikicleta_light_blue;
	}
	
	.action-box-2 {
		margin: 10px auto 0 auto;
		width: 55%;
		padding: 10px 5px;
		min-width: 1200px;
		text-align: center;
		z-index: 9999 !important;
		p {
			font-weight: bold;
			color: white;
			font-size: 18px;
			margin: 0px;
			padding: 0px;
		}
		
		a {
			color: white !important;
		}
		background-color: rgba(240,81,35,0.9);
	}
	
	.action-box {
		margin: 100px auto 0 auto;
		width: 80%;
		padding: 10px 5px;
		background-color: rgba(255,255,255,0.5);
	}
	
	.more-discrete {
		background-color: rgba(255,255,255,0.2);
		a {
			font-size: 14px !important;
		}
	}
	
	.emphasize {
		a {
			color: $wikicleta_orange !important;
		}
	}
	
	.container {
		min-width: 400px;
		margin: 0 auto 0 auto;
		text-align: center;
		.column {
			vertical-align: top;
			width: 45%;
			display: inline-block !important;
			
			.content-more-margin {
				margin-top: 40% !important;
			}
			
			.content {
				margin-top: 50px;
			}
		}
	}
	
	#map
	{
	  width: 70% !important;
		margin: 0 auto 50px auto;
	  height: 300px !important;
		border: 20px solid white;
	}
	
	.poi {
		display: none;
		margin-left: auto;
		margin-right: auto;
		width: 620px;
	}
	
	#poi-details {
		background: #deedfe;
		border-radius: 10px;
		margin: 4% auto 2% auto;
		padding: 10px;
		
		.core, .contributor {
			display: inline-block;
		}
		
		.contributor {
			vertical-align: top;
			width: 150px;
			text-align: center;
			
			.pic img {
				border-radius: 35px;
			}
		}
		
		.core {
			text-align: right !important;
			width: 450px;
			.title {
				font-size: 13px !important;
				text-transform: uppercase !important;
				margin: 0px 10px 10px 0px !important;
				text-align: right !important;
				
			}

			.subtitle {
				text-align: right !important;
				margin: 0px 10px 5px 0px !important;
				
				font-weight: normal !important;
				font-size: 18px !important;
				color: $wikicleta_blue !important;
			}

			.details {
				text-align: right !important;
				text-align: justify;
				font-size: 14px;
				margin-right: 10px !important;
			}
			
			.owner {
				margin: 0px 10px 0px 0px !important;
				font-style: italic;
			}
		}
		
	}
	
	.video-frame {
		margin-top: 60px;
	}
	
	.friends {
		.container {
			width: 1100px !important;
			
			.partners, .allies, .fri {
				margin: 70px 0 30px 0;
			}
			
		}
	}
	
	.mixpanel-partner {
		float: right;
		position: fixed;
		bottom: 20px;
		right: 40px;
	}
	
	.invitation {
		margin-top: 70px !important;
	}

}

.text-orange {
	color: $wikicleta_orange !important;
}

html, body { 
	font-family: "gothamrndbook-Book" !important;
}

