/*
 *= require_self
 *= require jquery.fancybox
 *= require bootstrap_and_overrides
 *= require owl.carousel
 *= require owl.theme
 *= require shared/main
 *= require map_based/common
*/

@import "colors.css.scss";

@font-face{
font-family: "gothamrndbook-Book";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbook.ttf");
}

@font-face{
font-family: "gothamrndbold-Bold";
   font-style: normal;
   font-weight: normal;
   src:url("/assets/gothamrndbold.ttf");
}

.text-orange {
	color: $wikicleta_orange !important;
}

html, body { 
	height: 100%;
  background: url('/assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: "gothamrndbook-Book" !important;
}

.landing {
	min-width: 600px !important;
	
	#map
	{
	  width: 100%;
	  height: 250px !important;
	}
	
	.menu {
		background-color: white !important;
		
		.header {
			width: 100%; 
	    height: 250px;
			background: url(/assets/header-bg.png) repeat-x;
			.header-m {
				text-align: center;
				position: relative;
			}
			
			.android {
				width: 180px;
				right: 100px;
				position: absolute;
				top: 50px;
			}
		}
		
	}
	
	.top-bar {
		position: relative;
		width: 100% !important;
		left: 0px;
		z-index: 999;
		border-top: 1px solid #EBF6FF;
		
		ul {
			text-align: right;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0px;
		}
	}
	
	.title {
		color: $wikicleta_orange;
		margin-top: 15px;
		font-weight: normal;
		font-size: 17px;
		text-transform: uppercase;
	}
	
	.status {
		margin-top: 30px;
	}
	
	.logo-container {
		text-align: center;
		margin-top: 40px;
	}
	
	.pois {
		min-width: 600px !important;
		min-height: 80px;
		background-color: $wikicleta_blue;
		color: white;
		
		.poi { 
			text-align: center;
			
			> div {
				display: inline-block;
				vertical-align: top;
				min-width: 500px;
				width: 33%;
				height: 80px;
				text-align: center;
				> div {
					margin-left: auto;
					margin-right: auto;

					> div {
						text-align:left;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			
			.contributor {

				a.pic {
					margin-top: 5px;
					margin-left: 0px;
					display: block;

					img {
						border-radius: 35px;
					}
				}

				a {
					color: $wikicleta_orange;
				}

				.name {
					font-size: 25px;
					color: $wikicleta_orange;
					margin: 10px 0px 0px 20px;
				}

				p {
					margin: 0px 0px 0px 20px;
					font-size: 18px;
				}
			}

			.opinion {
				text-align: center;
				font-size: 18px;
				line-height: 80px;
				
				p {
					vertical-align: middle;
					font-style: italic;
				}
				
				.emph {
					font-size: 40px;
					color: $wikicleta_orange;
				}
				
			}

			.details {
				
				text-align: center;

				p {
					margin: 0;
					padding: 0;
				}

				padding-left: 5%;
				padding-right: 5%;
				
				.link {
					margin-left: 20px;
				}
				
				a {
					color: white;
					font-size: 18px;
				}
				
				a:hover {
					color: $wikicleta_orange;
				}
				
				.title {
					font-size: 20px;
					color: $wikicleta_orange;
					margin-top: 10px;
					font-weight: bold;
				}
			}
		}
	}
	
	.sections {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		text-align: center;
		
		.section {
			vertical-align: top;
			border-radius: 0px;
			-moz-box-shadow: 0 0 2px #BABABA;
			-webkit-box-shadow: 0 0 2px #BABABA;
			box-shadow: 0 0 2px #BABABA;
			background: url(/assets/header-bg.png);
			width: 600px;
			display: inline-block;
			border : 1px solid #D1DEFF;
			margin: 20px 20px 50px 20px;
			
			.title {
				font-size: 25px;
				padding: 15px;
				text-transform: none;
				color: $wikicleta_orange;
				text-align: center;
			}
			
			ul {
				margin-left: 50px;
			}
			
			.draw-two {
				position: relative;
				right: 0px;
				float: right;
				top: 30px;
				width: 180px;
			}
			
			.draw-one {
				position: relative;
				left: 0px;
				top: 30px;
				width: 180px;
			}
			
			.draw-three {
				position: relative;
				right: 20px;
				float: right;
				top: 50px;
				width: 180px;
			}
			
			.action-box {
				background-color: white;
				border: 1px solid #AFCCFF;
				border-radius: 5px;
			}
			
			.big, .small {
				text-transform: uppercase;
			}
			
			.big {
				color: $wikicleta_orange;
				font-weight: bold;
			}
			
			.small {
				color: $wikicleta_blue;
			}
			
			.action-box:hover {
				-moz-box-shadow: 0 0 2px #BABABA;
				-webkit-box-shadow: 0 0 2px #BABABA;
				box-shadow: 0 0 2px #BABABA;
			}
			
			.content-right {
				width: 70%;
				float: right;
				font-size: 18px;
				
				.group {
					width: 70px;
					height: 70px;
					overflow: hidden;
					display: inline-block;
					margin-left: 5px;
				}
				
				.group-hidden {
					display: none;
				}
				
				ul {
					list-style: none;
					
					li {
						display: inline-block;
						margin-top: 30px;
						
						a, a:hover {
							text-transform: uppercase;
							padding: 10px;
							color: $wikicleta_orange;
						}
					}
				}
			}
			
			.content {
				width: 70%;
				margin-left: 0px;
				font-size: 18px;
				
				.status {
					margin: 30px 0 0 0;
					padding: 0;
					.big {
						font-size: 40px;
					}
					
					.small {
						margin-left: 10px;
						font-size: 15px;
					}
				}
				
				.iconified {
					padding: 8px;
					display: block;
					width: 160px;
					height: 60px;
					text-align: left;
					margin-top: 20px;
					margin-left: auto;
					margin-right: auto;
					
					ul {
						margin-left: 0;
						li {
							margin-left: 5px;
							vertical-align: top;
							display: inline-block;
						}
					} 

					img {
						width: 45px;
					}
					
				}
			}
		}
	}
}

.content {
	color: $wikicleta_blue;
	font-size: 15px;
}

.all-centered {
	text-align: center;
}

.contact-form {
	submit {
		margin-top: 8px;
	}
}

.top-bar, .bottom-bar {
	ul {
		li {
			display: inline-block;
			list-style: none;
			padding: 10px;
			a {
				text-decoration: none;
				color: $wikicleta_blue;
			}
			a:hover {
				color: $wikicleta_orange !important;
			}
		}
	}
}

.email-dialog {
	.title {
		font-size: 20px;
	}
}
