// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require shared/main.css
 *= require shared/form.css
 *= require tips
 *= require places
**/

.actions {
	
	.idea {
		margin-top: 5px;
		margin-bottom: 20px;
	}
	
	h2, h4 {
		text-align: right;
		padding: 0;
		margin: 0;
		font-weight: normal;
	}
	
	h2 {
		margin-top: 20px;
		font-size: 25px;
		color: #155AA3;
	}
	
	h4 {
		color: #FF7403;
		font-size: 18px;
	}
	
	.filtering-enabled {
		display: none;
	}
	
	.nav {
		margin-bottom: 0px;
	}
}

.altering-view {
	#active-form {
		display: none;
		
		.reduced {
			select {
				width: 90px;
			}
		}
		
		.reduced-more {			
			select {
				width: 60px;
			}
		}
	}

	ul {
		margin:0px !important;
	}
	
	.instruction {
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 18px;
		color: #2979D1 !important;
	}
	
	.map-dimensions {
		height: 250px !important;
	}
}


#map img {
  max-width: none;
}

.map-dimensions {
	width: 100% !important;
	height: 200px !important;
	margin-top: 30px;
}

.map-big {
	height: 400px !important;
}

.map-extra-big {
	height: 550px !important;
}

ul.stats {
 
	.alert {
		margin: 0px !important;
		background: none !important;
		border: none !important;
	}

	li {
		
		.active {
			color: #2C6ECA !important;
		}
		
		.box:hover {
			color: #FD6500;
		}
		
		.with-border {
			border-left: 1px solid #C1C1C1;
		}
		
		.box {
			color: #4F4F4F;
			padding: 10px;
			margin-right: 0px;
			text-decoration: none;
			
			.title, .number { 
				padding: 0;
				margin: 0;
			}
			
			.title {
				font-size: 10px;
				text-transform: uppercase;
			}
			
			.number {
				font-size: 20px;
			}
		}
	}
}

.right-content {
	height: 1500px;
	
	.actions {
		padding-bottom: 10px;
		border-bottom: 1px solid #C8DFF5;
	}
}

.listing-view {
	margin-top: 20px;
	
	.with-focus {
		border: 2px solid #0F527C !important;
		.signal {
			opacity: 1 !important;
		} 
		.extras {
			display: block !important;
		}
	}
	
	.empty {
		text-align: center;
	}
	
  .item-on-list {
		border: 2px solid #CEDEFF;
		background-color: #FCFAFF;
		padding: 10px;
		padding-bottom: 5px;
		margin: 10px;
		
		.extras {
			display: none;
		}
		
		.emph {
			color: #FF7601;
			text-transform: uppercase;
			font-size: 11px;
			margin-right: 10px;
		}
		
		.right-text {
			text-align: right;
			font-size: 12px;
		}
		
		.title {
			font-size: 13px;
		}
		
		.signal:hover {
			opacity: 1;
		}
		
		.signal {
			width: 100%;
			height: 20px !important;
			opacity: 0.5;
			cursor: pointer;
		}
		
		.contextual-info, .contextual-actions {
			li {
				margin-right: 15px;
			}
		}
		
		.contextual-actions {
			margin-left: 20px;
			font-size: 13px;
			
			.remarked a {
				color: #FF4F00;
			}
		}	
			
		.contextual-info {
			li {
				margin-right: 15px;
			}
			
			.time {
				text-transform: uppercase;
				font-size: 10px;
			}

			.reporter {
				font-size: 11px;
				color: #3D5FA6;
			}

			.comments {
				font-size: 13px;
				text-decoration: none;
			}
		}
		.description {
			font-size: 13px;
			color: #999;
		}
	}
}

.layers {
	display: none;
	.menu {
		ul {
			border: 2px solid white;
			margin: 0px;
			font-size: 13px;
			
			li:hover {
				background: #e0ebf6; /* Old browsers */
				background: -moz-linear-gradient(top,  #F0C9B9 30%,#F0D9D4 54%,#F0E6E6 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0C9B9), color-stop(54%,#F0D9D4), color-stop(100%,#F0E6E6)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #F0C9B9 30%,#F0D9D4 54%,#F0E6E6 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #F0C9B9 30%,#F0D9D4 54%,#F0E6E6 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #F0C9B9 30%,#F0D9D4 54%,#F0E6E6 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #F0C9B9 30%,#F0D9D4 54%,#F0E6E6 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ebf6', endColorstr='#f2f5f6',GradientType=0 ); /* IE6-9 */
				
				a {
					color: #FF6002;
					text-decoration: none;
				}
			}
			
			li {
				text-align: right !important;
				height: 70px;
				width: 100%;
				background: #e0ebf6; /* Old browsers */
				background: -moz-linear-gradient(top,  #DBE4F0 30%,#E4ECFB 54%,#f2f5f6 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#DBE4F0), color-stop(54%,#E4ECFB), color-stop(100%,#f2f5f6)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #DBE4F0 30%,#E4ECFB 54%,#f2f5f6 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #DBE4F0 30%,#E4ECFB 54%,#f2f5f6 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #DBE4F0 30%,#E4ECFB 54%,#f2f5f6 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #DBE4F0 30%,#E4ECFB 54%,#f2f5f6 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBE4F0', endColorstr='#f2f5f6',GradientType=0 ); /* IE6-9 */
				
				a {
					padding: 25px;
				}
			}
		}
	}
}

