.workshop {
	
	.header {
		border-bottom: 1px solid #C1D6EF;
		margin-bottom: 8px;

		.horary {
			font-size: 12px;
			text-align: right;
			
			.open {
				color: #0253C2;
			}
		}
	}
	
	.contact {
		font-size: 11px;
		
		.mean {
			color: #0253C2;
			text-transform: uppercase;
			font-size: 11px;
		}
	}
	

}