/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require shared/main
 */

body, html {
	height: 1200px !important;
}

.logo {
	width: 350px;
	height: 350px;
	background: url('/assets/wikicleta_big.png');
}

/*
 *  Styles for login view
 */

.board {
	
	.action-links {
		text-align: center;
		margin-top: 20px;
		font-size: 15px;
	}
	
	h2 {
		text-align: center;
		color: #FF5604;
		font-weight: normal;
		margin-bottom: 30px;
		font-size: 40px;
	}
	
	.control-label {
		width: 30px !important;
	}
	
	.controls {
		margin-left: 50px !important;
	}
	
	.social-nets {
		background-color: #F3F5FF;
		padding: 10px;
		height: 170px;
		margin-left: 0px !important;
	}
	
	.login-strategies > div {
		padding-top: 20px;
	}
	
	.subtitle {
		margin: 0px;
		margin-top: 5px;
		font-size: 18px;
	}
	
	.facebook-sign-in,
	.twitter-sign-in {
		display: block;
		width: 160px;
		height: 34px;
		margin-top: 15px;
		opacity: 0.7;
	}

	.twitter-sign-in {
		background: url('/assets/twitter_sign_in.png');
	}

	.twitter-sign-in:hover, .facebook-sign-in:hover {
		opacity: 1;
	}

	.facebook-sign-in {
		background: url('/assets/facebook_sign_in.png');
	}
}

