/*
 *= require map_based/common
 *= require bootstrap-fileupload.min
 */
@import "colors.css.scss";

.route {
	
	> div > div {
		margin: 10px;
	}
	
	p {
		padding: 0px;
		margin: 0px;
	}
	
	.title {
		margin-bottom: 2px;
		font-weight: bold;
		font-size: 10px;
		text-transform: uppercase;
	}
	
	.name {
		font-size: 20px;
		color: $wikicleta_orange;
	}
	
	.details {
		font-size: 15px;
		color: $wikicleta_blue;
	}
	
	.distance-in-kms {
		text-align: right;
		margin-top: 10px;
		font-size: 30px;
		color: $wikicleta_blue;
	}
	
	.unit {
		text-align: right;
		margin-top: 5px;
		font-size: 20px;
		color: $wikicleta_orange;
	}
	
	.meta-box {
		
		.ranking-title {
			font-size: 11px;
			padding: 0px;
			margin: 10px 0px 4px 15px;
		}
		
		ul {
			margin: 10px;
			list-style: none;
			font-size: 11px;
			
			li {
				display: inline-block;
				margin: 5px;
				img {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				
				p {
					margin: 5px 0 0 0 !important;
					padding: 0px;
					font-weight: bold;
				}
			}
		}
	}
	
	.main-box {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}
	
	.status-box {
		margin-top: 10px !important;
		text-align: right;
		
		.by {
			font-size: 13px;
			background-color: white;
			padding: 6px 12px;
			border-radius: 4px;
			a {
				text-decoration: none;
			}
		}
	}
}

.actions {
}

#user-profile {
	
	.selected-item {
		margin-top: 10px;
		
		> div {
			padding: 10px;
		}
		
		.title {
			text-transform: uppercase;
			font-weight: bold;
			color: $wikicleta_orange;
			margin: 5px 0px 0px 0px;
			padding: 0px;
		}
		
		.item {
			p {
				margin: 0px;
				padding: 0px;
				color: $wikicleta_blue;
			}
			
			.name {
				margin-top: 10px;
				font-size: 20px;
				color: $wikicleta_orange;
			}
			
			.details {
				font-size: 13px;
			}
			
			.small {
				text-align: center;
				font-size: 12px;
			}
		}
	}
	
	.activities {
		margin-top: 10px;
		
		.title {
			padding: 10px 0 0 10px;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0px;
		}
		
		ul {
			padding: 15px;
			li {
				display: inline-block;
				a {					
					text-decoration: none;
					padding-top: 4px;
					display: block;
					margin-right: 50px;
				}
				
				p {
					padding: 0px;
					margin: 0px;
				}
				.value {
					text-align: left;
					font-size: 25px;
					color: $wikicleta_orange;
				}
				
				.name {
					font-size: 14px;
					color: $wikicleta_blue;
				}
			}
		}
	}
	
	.settings-icon {
		position: absolute;
		right: 10px;
		top: 50px;
	}
	
	.pic-container {
		margin-top: 20px;
		
		img {
			border: 5px solid #F0FDFF;
			
			-webkit-border-radius: 80px;
			-moz-border-radius: 80px;
			border-radius: 80px;
			
			-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
		  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
		  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
		}
		
		img:hover {
			border: 5px solid #EEFBFF;
		}
	}
	
	.decoration-image {
		pointer-events: none;
		width: 399px;
		height: 250px;
		position: absolute;
		opacity: 0.15;
		left: 50%;
		margin-left: -200px;
		background-image: url('/assets/city_cycling.png');
	}
	
	.username {
		font-weight: 800;
		font-size: 25px;
		margin: 20px 0px 5px 0px;
		color: $wikicleta_blue;
	}
	
	.bio {
		font-style: italic;
		font-size: 14px;
		font-weight: 100;
		color: $wikicleta_blue;
	}
	
	.user-actions {
		z-index: 99;	
		padding: 15px 10px 10px 5px;
	}
	
	.city {
		.name {
			font-size: 12px;
			text-transform: uppercase;
			color: $wikicleta_orange;
			font-weight: bold;
			
			span {
				font-weight: normal !important;
			}
		}
	}
	
	.activity-container {
		display: none;
		
		.activity-list {
			
			p {
				padding-top: 5px;
				font-size: 11px;
			}
			
			h3 {
				text-transform: uppercase;
				font-size: 11px;
				
				.title {
					color: $wikicleta_orange;
					font-weight: 600;
				}
				
				.note {
					color: $wikicleta_blue;
				}
			}
			
			padding: 10px 10px 0px 10px !important;
		}
	}

}

#action-selected {
	padding: 0px 10px 5px 10px;
	
	.details {
		border-top: 1px solid #D2DAEB;
		padding-top: 10px;
		
		.info, .pic {
			vertical-align: top;
			display: inline-block;
			padding: 5px
		}
		
		.pic {
			width: 100px;
		}
		
		.info {
			width: 420px;
		}
		
		.title {
			margin-bottom: 0px;
			font-size: 18px;
			color: $wikicleta_orange;
			margin:0px;
		}

		.updated-at, .timing {
			font-size: 12px;
			color: $wikicleta_blue;
			margin:0px;
		}
		
		.controls {
			margin-top: 10px;
		}
	}
}

#edit-profile {
	
	.settings {
		width: 400px;
		height: 400px;
		position: absolute;
		opacity: 0.10;
		left: 7%;
		top: 20%;
		pointer-events: none;
		background-image: url('/assets/gear.png');
	}
	
	.content {
		margin: 30px;
		
		h3 {
			color: $wikicleta_orange;
		}
		
		.section-title {
			color: $wikicleta_blue;
			font-size: 13px;
		}
		
		.control-group {
			label {
				font-size: 12px;
				color: $wikicleta_blue;
			}
		}
		
		.delete-current-picture {
			margin: 30px 0px 10px 0px;
			font-size: 12px;
		}
		
		.select-cycling-date {
			
			select {
				width: 100px;
			}
		}
	}
}

.cycling-group-light {
	.controls {
		.button_to {
			text-align: right;
		}
	}
}