/*
 *= require_self
 *= require bikes
 *= require bootstrap_and_overrides
 *= require shared/main
 */

.profile {
	.avatar-img {
		width: 80px;
		height: 80px;

		border-radius: 40px;
		background-color: #A8C9E5;

		i {
			padding-top: 10px;
			display: block;
			font-size: 50px;
			color: #EAF6F8;
		}
	}
	
	.menu {
		margin-top: 20px;
	}
	
	h3 {
		color: #F15000 !important;
	}
}

