/*
 *= require map_based/common
 *= require bootstrap-fileupload.min
 */
@import "colors.css.scss";

html, body {
    height:100%;
}

.routes {
	
	.togglers {
		margin-left: 10px;
	}
	
	.form-container {
		margin: 20px;
	}
	
	.section-title {
		text-align: center;
		color: $wikicleta_blue;
	}
}

.actions {
	padding: 10px;
	color: $wikicleta_blue;
	font-weight: bold;
}