/*
 *= require_self
 *= require superslides
 *= require bootstrap_and_overrides
 */

body, html {
	overflow: hidden;
	
	.slides-container {
		.container {

			
			.logo {
				width: 350px;
				height: 350px;
				background: url('/assets/wikicleta_big.png');
			}
		}
	}
}
