<div class="controls row-fluid">
	<p class="pull-right">
		<%= link_to t('actions.hide'), '#/deselect', :class => 'btn-normal' %>
		<%= link_to t('actions.minimize'), 'javascript:void(0);', :class => 'btn-normal toggle-header-details-box minimize' %>
		<%= link_to t('actions.maximize'), 'javascript:void(0);', :class => 'btn-normal toggle-header-details-box maximize' %>
	</p>
</div>