<div class="head alert-head">
	<%= image_tag('alert-icon.png', :size => '100x100') %>
</div>
<div class="head danger-head">
	<%= image_tag('danger-icon.png', :size => '100x100') %>
</div>
<div class="head sightseeing-head">
	<%= image_tag('sightseeing-icon.png', :size => '100x100') %>
</div>